@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
body, html {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

body {
    animation: fadeIn 2s ease-in;
}

img {
    max-width: 100%;
    height: auto;
}

/* BG Color for Playlist Section */
#playlist {
    color: white;
}

#background-wallpaper {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    z-index: -1; /* Place the video behind other content */
}



/* BG Color for Contact Me Section */
#contact {
    flex-direction: row;
    color: white;
}

.navbar {
    position: fixed;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    padding: 5px 20px;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    z-index: 1000;
    display: flex;
    justify-content: space-between; /* Space between logo and menu */
    align-items: center;
}

@media (max-width: 1024px) {
    .navbar {
        position: fixed;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        overflow: hidden;
        z-index: 1000;
        height: 9%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        color: white;
    }
}

.navbar a {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 32px;
    border-radius: 4px;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 2.0);
    transition: background-color 0.3s, color 0.3s;
    margin: 2px;
}

.navbar a:hover {
    color: #FF4500; /* or #03e9f4 */
}

.navbar .logo {
    font-size: 36px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    cursor: pointer;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 2.0);
}

@media (min-width: 1024px) {
    .nav-links a {
        padding: 15px 30px; /* Increased padding for desktop */
    }

    .logo {
        padding-left: 40px; /* Adjust the value as needed */
    }
}

/* Hamburger menu styles */

.menu-toggle {
    display: none; /* Initially hidden for larger screens */
    flex-direction: column;
    cursor: pointer;
    top: 10px;
    right: 10px;
}

.bar {
    display: block;
    width: 35px;
    height: 4px;
    margin-bottom: 7px;
    background-color: #ffffff;
    transition: all 0.3s ease-in-out;
}

/* Transform the hamburger menu into an "X" when active */
.menu-toggle.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle.active .bar:nth-child(2) {
    opacity: 0;
}

.menu-toggle.active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -8px);
}

/* Navigation links container */
.nav-links {
    display: flex;
    align-items: center;
    list-style-type: none; /* This removes the bullets */
}

/* Adjustments for mobile screens */
@media (max-width: 1268px) {
    .navbar {
        height: 7vh; /* Adjust as needed */
        width: 100%;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 5);
        border-radius: 10px;
        background: rgba(0, 0, 0, 0.5);
        align-items: flex-start; /* Align items to the start (top) */
    }
    
    .navbar a {
        display: none; /* Hide links initially for smaller screens */
    }

    .navbar .logo {
        font-size: 27px; /* Reduce font size of the logo for mobile screens */
    }

    .logo {
        padding-left: 10px; /* Adjust the value as needed */
    }

    .menu-toggle {
        display: flex;
        flex-direction: column;
        position: relative; /* Position it relative to the navbar */
        margin-right: auto 0px;
        margin-left: auto 20px;
    }

    .nav-links {
        flex-direction: column; /* Stack links vertically */
        align-items: flex-start; /* Align links to the left */
        position: absolute;
        top: 60px; /* Adjust top position to avoid overlapping */
        left: 0;
        width: 100%;
        transition: max-height 0.3s ease-in-out; /* Add smooth transition */
        max-height: 0; /* Initially hidden */
        overflow: hidden;
        z-index: 999; /* Ensure menu is on top */
    }

    .navbar.active .nav-links {
        max-height: 300px; /* Show menu on click */
    }

    /* Rotate bars to create "close" icon */
    .navbar.active .menu-toggle .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .navbar.active .menu-toggle .bar:nth-child(2) {
        opacity: 0;
    }

    .navbar.active .menu-toggle .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
/* The sidebar menu */
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* This will help in pushing the nav links to the bottom */
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

/* The sidebar menu */
#mySidebar {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    height: 100%;
    padding-top: 0px;
}

    /* The sidebar image */
    #mySidebar img {
        max-width: 60%;
        max-height: 60%; 
        display: block;
        margin: 0 auto;
        border: 10px solid #9B111E;
    }

    /* Container for Navigation Links within the Sidebar */
    .sidebar-nav-links {
        display: flex;
        flex-direction: column;
        align-items: center; /* Center align the links horizontally */
        gap: 10px; /* Adjust the space between the links */
        grid-row: 2; /* Place the nav links in the second row */
    }

    /* Style individual links as buttons */
    .sidebar-nav-links a {
        background-color: #111; /* Button background color */
        padding: 10px 20px; /* Padding inside the button */
        border: none; /* Remove border if there is any */
        border-radius: 5px; /* Rounded corners */
        text-decoration: none; /* Remove underline from links */
        text-align: center; /* Center text inside the button */
        width: 80%;
        transition: background-color 0.3s;
        box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3); /* Adding box shadow */
    }

    /* The links inside the sidebar */
    .sidebar a {
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
        white-space: nowrap; /* Prevents the text from wrapping */
        overflow: hidden; /* Hides the text that overflows the container */
        margin: 20px 0px;
        text-align: center;
    }

    /* The close button */
    .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
}

@media screen and (min-width: 1268px) {
    /* Hide sidebar for desktop */
    .sidebar { display: none; }
}

.image-container {
    display: flex;
    align-items: center; /* Center images vertically */
    justify-content: center; /* Center images horizontally */
}

section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Changed to center for proper alignment */
    text-align: center; /* Ensure text aligns center for all sections */
    box-sizing: border-box;
}

/*Home button*/
.button {
    display: inline-block;
    padding: 15px 20px;
    margin: 15px 30px 15px 0;
    background-color: #282828;
    color: #D3D3D3; /* Updated text color */
    text-shadow: 2px 2px 5px #000; /* Add a text shadow */
    text-decoration: none;
    border-radius: 15px;
    font-size: 25px;
    box-shadow: 5px 5px 10px #8B0000; /* Add a shadow */
    position: relative; /* Add relative positioning */
    z-index: 0; /* Set the z-index of the button to 1 */
    overflow: hidden; /* Add overflow hidden */
}

.button::after {
    content: ""; /* Create an empty pseudo-element */
    position: absolute; /* Position it absolutely */
    top: 0; /* Align it to the top left corner of the button */
    left: 0;
    width: 0; /* Set its initial width to 0 */
    height: 100%; /* Set its height to match the button */
    background-color: #03e9f4   ; /* Set the fill color */
    transition: width 0.7s ease-in-out; /* Add transition for smooth animation */
    z-index: -1; /* Set the z-index of the pseudo-element to -1 */
}

.button:hover::after {
    width: 100%; /* Set the width to 100% on hover */
    color: #000;
}

/* Start of Contact Me Section Styling */
footer {
    text-align: center;
    width: 100%;
    padding: 10px 0;
    color: white;
    font-size: 19px;
    position: static;
    bottom: 0;
    clear: both;
    z-index: 10;
    font-family: 'Open Sans', sans-serif;
}

    /* Contact Form Styling */
    #suggestion-form {
        padding: 20px;
        border-radius: 15px;
        width: 80%;
        margin: 0 auto;
        text-align: center; /* Center the text */
    }
    
    #suggestion-form label {
        display: block;
        margin-bottom: 10px;
        font-size: 1.2em; /* Larger font size */
        text-align: left; /* Align the labels to the left */
    }
    
    #suggestion-form textarea {
        width: 100%;
        max-width: 1000px;
        font-size: 21px;
        border: none;
        border-radius: 50px; /* Rounded corners */
        box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.1); /* Add some shadow for a 3D effect */
        background-color: #fff; /* White background color */
        margin-bottom: 20px; /* Add space below each form field */
        height: 170px; /* Set a fixed height */
        resize: none; /* Make it non-resizable */
        padding: 15px 0px 50px 30px; /* Adjust left padding */
    }
    
    #suggestion-form input[type="text"],
    #suggestion-form input[type="email"] {
        width: 1000px;
        height: 50px;
        font-size: 21px;
        box-sizing: border-box;
        border: none;
        border-radius: 50px; /* Rounded corners */
        box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.1); /* Add some shadow for a 3D effect */
        background-color: #fff; /* White background color */
        margin-bottom: 20px; /* Add space below each form field */
        padding-left: 25px; /* Add padding to the text field*/
    }
    
    #suggestion-form input[type="submit"] {
        background-color: #0a0a0a;
        color: white; /* White text */
        padding: 10px 20px;
        border: none;
        margin-top: 20px;
        border-radius: 50px; /* Rounded corners */
        cursor: pointer;
        width: 1000px;
        font-size: 1.2em; /* Larger font size */
    }
    
    #suggestion-form input[type="submit"]:hover {
        background-color: #141414; /* Darker green on hover */
    }
    
    #suggestions {
        font-size: 25px;
        margin-bottom: 20px;
        text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
        line-height: 1.6;
    }

    #or {
        font-size: 25px;
        color: white;
        margin-top: 0px;
        text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
    }

    #email-address {
        font-size: 21px;
        color: #FFFFFF;
        text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
        margin-top: 0px;
        font-family: 'Open Sans', sans-serif;
    }

    .feedback-prompt {
        font-size: 25px;
        text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
        font-family: 'Open Sans', sans-serif;
    }

    #like-button {
        font-size: 30px; /* Adjust this value to change the size of the like button */
        cursor: pointer;
    }
    
    #like-count {
        font-size: 20px; /* Adjust this value to change the font size of the like count */
        text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
        font-family: 'Open Sans', sans-serif;
    }

@media (min-width: 1024px) {
    #contact {
        display: flex;
        flex-direction: column;
        align-items: center; /* Center content horizontally */
    }
    
    .section-title {
        text-align: left; /* Centers the text within its container */
        align-self: flex-start;
        position: static;

    }

    /* Centers the social links container */
    .social-links {
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }


    #contact p {
        text-align: center; /* Align text to the left for desktop */

    }

    .opportunities-header {
        text-align: center !important;
        margin-bottom: 90%;
        font-size: 41px;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .social-links {
        order: 1;
        text-align: center;
    }
    
    footer .copyright {
        order: 2;
        text-align: center;
    }

    /* Contact Form Styling */
#suggestion-form {
    padding: 20px;
    border-radius: 15px;
    width: 80%;
    margin: 0 auto;
    color: white; /* White text color */
    text-align: center; /* Center the text */
}

#suggestion-form label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em; /* Larger font size */
    text-align: left; /* Align the labels to the left */
}

#suggestion-form textarea {
    width: 100%;
    max-width: 1000px;
    font-size: 21px;
    color: #fff;
    border: none;
    border-radius: 50px; /* Rounded corners */
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.1); /* Add some shadow for a 3D effect */
    background-color: #111; /* White background color */
    margin-bottom: 20px; /* Add space below each form field */
    height: 170px; /* Set a fixed height */
    resize: none; /* Make it non-resizable */
    padding: 15px 0px 50px 30px; /* Adjust left padding */
}

#suggestion-form input[type="text"],
#suggestion-form input[type="email"] {
    width: 1000px;
    height: 50px;
    color: #fff;
    font-size: 21px;
    box-sizing: border-box;
    border: none;
    border-radius: 50px; /* Rounded corners */
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.1); /* Add some shadow for a 3D effect */
    background-color: #111; /* White background color */
    margin-bottom: 20px; /* Add space below each form field */
    padding-left: 25px; /* Add padding to the text field*/
}

#suggestion-form input[type="submit"] {
    background-color: #0a0a0a; /* Green background */
    color: white; /* White text */
    padding: 10px 20px;
    border: none;
    margin-top: 20px;
    border-radius: 50px; /* Rounded corners */
    cursor: pointer;
    width: 1000px;
    font-size: 1.2em; /* Larger font size */
}

#suggestion-form input[type="submit"]:hover {
    background-color: #141414; /* Darker green on hover */
}

#suggestions {
    font-size: 25px;
    color: #fff;
    margin-bottom: 20px; /* Add space below the text */
    font-family: 'Open Sans', sans-serif;
}

}

/* Mobile Adjustments */
@media (max-width: 1268px) {
    #contact .section-title {
        flex-direction: column; /* Stacks content vertically */
        align-items: center; /* Centers items horizontally */
        width: 100%; /* Ensures the title spans the full width */
        text-align: center; /* Centers the text within its container */
        align-self: flex-start;
        padding: 20px 5px; /* Adjusts padding for consistent spacing */
    }

/* Contact Form Styling */
#suggestion-form {
    padding: 20px;
    border-radius: 15px;
    width: 80%;
    margin: 0 auto;
    color: white; /* White text color */
    text-align: center; /* Center the text */
}

#suggestion-form label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em; /* Larger font size */
    font-family: 'Open Sans', sans-serif;
    text-align: left; /* Align the labels to the left */
}

#suggestion-form textarea {
    width: 100%;
    font-size: 21px;
    border: none;
    border-radius: 50px; /* Rounded corners */
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.1); /* Add some shadow for a 3D effect */
    color: white;
    background-color: #111;
    margin-bottom: 20px; /* Add space below each form field */
    height: 170px; /* Set a fixed height */
    resize: none; /* Make it non-resizable */
    padding: 20px 0px 50px 20px; /* Adjust left padding */
}

#suggestion-form input[type="text"],
#suggestion-form input[type="email"] {
    width: 100%;
    height: 50px;
    font-size: 21px;
    color: white;
    border: none;
    border-radius: 50px; /* Rounded corners */
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.1); /* Add some shadow for a 3D effect */
    background-color: #111; /* White background color */
    margin-bottom: 20px; /* Add space below each form field */
    padding: 10px; /* Add padding to the text field*/
}

#suggestion-form input[type="submit"] {
    background-color: #0a0a0a; /* Green background */
    color: white; /* White text */
    padding: 10px 20px;
    border: none;
    margin-top: 20px;
    border-radius: 50px; /* Rounded corners */
    cursor: pointer;
    width: 100%;
    font-size: 1.2em; /* Larger font size */
}

#suggestion-form input[type="submit"]:hover {
    background-color: #141414; /* Darker green on hover */
}

#suggestions {
    font-size: 25px;
    color: #fff;
    margin-bottom: 20px; /* Add space below the text */
    font-family: 'Open Sans', sans-serif;
}
    
    /* Center aligns the subheader, paragraph, and social links */
    #contact .opportunities-header, #contact p, #contact .social-links {
        text-align: center;
        width: 100%;
    }

    .opportunities-header {
        margin-bottom: 200%;
        font-size: 7vw;
    }

    /* Centers the social links container */
    #contact .social-links {
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }

    #contact p {
        text-align: center; /* Align text to the left for desktop */
        margin-bottom: 5px;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    footer .social-links {
        order: 1;
        text-align: center;
    }

    
    footer .copyright {
        order: 2;
        text-align: center;
    }

    #suggestion-form {
        width: 90%;
    }

}



/* End of Contact Me */

/* Common Styling for All Main Sections */
#home, #about, #playlist, #contact {
    min-height: 100vh; /* Minimum height to occupy the viewport */
    display: flex;
    font-family: 'Open Sans', sans-serif;
    flex-direction: column;
    justify-content: center; /* Align content vertically in the center */
    box-sizing: border-box;
}

/* Playlist Section */
#playlist {
    text-align: center; /* Center text for the title */
    padding: 20px;
}

.header-text {
    position: absolute;
    width: 100%;
    text-align: center;
}

.playlist-container {
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

.left-cat-gif {
    width: 640px;
    height: 360px;
}

.middle-cat-gif {
    width: 640px;
    height: 360px;
}

.right-cat-gif {
    width: 430px;
    height: 360px;
}

.cat-gif-container {
    margin: 0 20px; /* Adjust the value as needed */
}

/* Playlist Header */
.playlist-header {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#playlist h2 {
    font-family: 'Open Sans', sans-serif;
}

/* GIF Grid Container */
.gif-grid {
    margin-top: 130px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
}

/* Playlist Grid Container */
.playlist-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0px;
}

/* Individual Playlist Items Styling */
.playlist-grid-item {
    margin: 0 40px;
    background-color: transparent;
    padding: 0px;
    border-radius: 15px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.playlist-grid-item iframe {
    width: 352px;
    height: 662px;
    border-radius: 12px;
}

.playlist-grid-item:hover {
    transform: scale(1.05);
    filter: blur(0px) brightness(0.9);
    cursor: pointer;
}

/* Playlist Section Title Styling */
#playlist .header-text {
    color: #FF4500;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.playlist-grid-item h2 {
    color: #03e9f4;
    text-shadow: 2px 2px 4px #000;
}

/* Responsive Adjustments */
@media (max-width: 1268px) {
    .playlist-grid {
        grid-template-columns: 1fr;
    }
    .left-cat-gif, .middle-cat-gif, .right-cat-gif {
        width: auto;
        height: auto;
    }
    .playlist-header {
        flex-direction: column;
    }
    .gif-grid {
        grid-template-columns: 1fr;     
    }
    .cat-gif-container {
        margin: 10px; /* Adjust the value as needed */
    }
    #playlist .header-text{
        margin-top: 30px;
    }
}

/* End of Spotify Playlist */

/* Home Section */
.type1:empty::before {
    content: '\200B';
}

.social-links {
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5)
}

.social-links a {
    font-size: 70px; /* Social icon size */
    border-radius: 50%;
    display: inline-flex;
    margin: 10px;
    align-items: center; /* Center icons vertically */
    justify-content: center; /* Center icons horizontally */
    width: auto; /* Button width */
    height: auto; /* Button height */
    color: #fff;
    transition: all 0.3s ease;
}

.social-links a:hover {
    background-color: transparent; /* Hover background color */
    color: #fff; /* Hover icon color */
    transform: scale(1.19); /* Slight increase in size on hover */
    box-shadow: 0 4px 8
    px rgba(0, 0, 0, 0.2); /* Increased shadow on hover */
}

/* Add background colors */
.bxl-facebook-circle {
    background: #3B5998;
    border-radius: 15%;
}

.bxl-github {
    background: #333;
    border-radius: 15%;
}

.bxl-linkedin-square {
    background: #0077B5;
    border-radius: 15%;
}

.bxl-instagram-alt {
    background: -webkit-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -o-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
    background-clip: content-box;
    border-radius: 20%;
}

#time {
    color: #00FF00; /* Set the text color */
    font-size: 22px; /* Set the text size */
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8); /* Add a text shadow */
    padding: 10px; /* Add some space around the text */
    text-align: left; /* Align the text to the center of the element */
    white-space: normal; /* Allow the text to wrap to the next line */
    word-break: break-word; /* Break long words if necessary */
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
}

.main-content {
    position: relative;
    min-height: 100vh; /* Changed from 'height' to 'min-height' for responsiveness */
    padding: 100px; /* Consistent padding across the section */
    color: white; /* Adjust text color if needed */
}

.header { /*Home section*/
    font-size: 63px;
    margin-bottom: 20px;
    color: #FFFFFF;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.subheader { /*Home section*/
    font-size: 46px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: bold;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
    color: #03e9f4;
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: flex; /* Use flexbox layout */
    justify-content: center; /* Align the container to the center of the screen */
    align-items: center; /* Align the items vertically */
    width: 100%; /* Set the width to 100% of the screen */
    height: 100px; /* Set the height to 100px */
    background-color: #13200e; /* Set the background color */
}

.text-container {
    border-radius: 15px; /* Rounded corners */
    background-color: transparent;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
}

.text-container p { /* Home paragraph */
    font-size: 23px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
}

.main-content-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    align-items: center; /* Align items vertically */
    justify-content: flex-start;
    margin-top: 30px;
}

.image-container {
    border-radius: 15px; /* Rounded corners */
    display: flex; /* Use flex layout for images */
    align-items: center; /* Align images vertically */
    justify-content: center;
    object-fit: contain;
}

.right-side-image {
    width: auto;
    height: auto;
    object-fit: contain;
    background-color: #000;
    box-shadow: 0px 0px 15px 5px #8B0000;
}

/* Fade-in animations for images and GIFs */
.right-side-image {
    opacity: 0; /* Start with the image being transparent */
    animation: fadeInImage 1s ease-in forwards 1s; /* Animation with delay */
}

@keyframes fadeInImage {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Responsive adjustments for smaller screens */
@media (max-width: 1268px) {
    .main-content-grid {
        display: flex; /* Enable flex layout */
        flex-direction: column; /* Stack items vertically */
        justify-content: center; /* Center items horizontally */
        align-items: center; /* Center items vertically */
        text-align: center; /* Center text */
        min-height: 100vh; /* Full height */
    }

    .text-container, .image-container {
        padding: 0px; /* Adjusted padding for smaller screens */
        margin-bottom: 0; /* Adjusted margin for smaller screens */
    }
}

/*End of Home Section*/


/* About Section */
:root {
    --header-color: #3a86ff;
    --text-color: #dddddd;
    --font-family: 'Open Sans', sans-serif;
  }

#about strong {
    color: #00FF00;
}

#about {
    color: white; /* Adjust text color if needed */
    min-height: 100vh; /* Minimum height to ensure image visibility */
    place-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
  }

.about-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Four columns of equal width */
    gap: 30px; /* Increase space between columns */
    text-align: left; /* Align text to the left within each grid item */
}

.about-header {
    text-align: center;
    font-size: 2.5em; /* Slightly smaller for balance */
    color: #FF4500; /* Light color for headers for contrast */
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
}

.about-description, .about-list {
    font-size: 21px;
    margin: 0px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.ol-about-list {
    list-style-type: decimal;
    font-size: 21px;
    font-family: 'Open Sans', sans-serif;
}


.about-list {
    list-style-type: disc;
    text-align: left;
}

.about-grid > div:not(.quote-container) {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 15px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    margin-top: 20px;
    box-shadow: 0px 0px 15px 8px #8B0000;
}

.about-grid > div:not(.quote-container):hover {
    transform: scale(1.05); /* Slight increase in size on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Increased shadow on hover */
    box-shadow: 0px 0px 15px 8px #FF4500;
}

/* Styling for the GIF container */
.about-gif-container {
    text-align: center; /* Center the Cat HUH GIF */
    float: left;
    background-color: transparent !important;
    box-shadow: none !important;
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

[src$=".gif"] {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 5);
}


.about-gif-container:hover {
    transform: none !important;
    box-shadow: none !important;
}

.about-item {
    background-color: #1b1b1b ; /* Changing to black */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    margin-top: 40px;
}

.quote-container{
    margin-right: 20px;
}

.flip-card.flipped .flip-card-inner {
    transform: rotateY(180deg);
}


.flip-card {
    background-color: transparent;
    perspective: 1000px;
    width: 100%;
    height: 200px;
  }
  
  .flip-card-inner {
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    min-width: 100%;
    min-height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0px 4px 8px 0px #8B0000;
}
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    box-shadow: 0px 4px 8px 0px #FF4500;
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flip-card-back {
    transform: rotateY(180deg);
  }
  

.quote-text {
    color: #ffffff;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

.about-gif-container, .quote-container, .quote-container1 {
    max-width: 100%;
    max-height: 100%;
    align-items: flex-start;
    margin: 40px;
    margin-left: 0px;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 0px 0px 15px 5px #8B0000;
}

/* Adjustments for Mobile Devices */
@media (max-width: 1268px) {
    .about-grid {
        grid-template-columns: 1fr; /* Stack in one column on smaller screens */
    }

    .about-header {
        padding-left: 20px; /* Adjust header padding on mobile screens */
    }

    .about-list {
        padding-left: 20px; /* Adjust padding for better alignment on mobile screens */
    }
    .quote-container, .quote-container1 {
        flex-direction: column;
        align-items: flex-start; /* Align content to the left */
        justify-content: flex-start; /* Align content to the top */
        min-width: 100%; /* Adjust as needed */
        min-height: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .quote-container1 {
        margin: 0px;
        margin-bottom: 0px;
    }

}

.saitama-gif {
    max-width: 100%; /* Ensures the GIF is not bigger than its container */
    max-height: 300px; /* Adjusts the height as needed, keeping aspect ratio */
    display: block; /* To display it as a block element */
    margin: 20px auto; /* Centers the GIF and adds some space above and below */
}

/*End of About*/


/* About Section Styling */
#about {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align content to the left */
    justify-content: flex-start; /* Align content to the top */
    text-align: left;
    padding: 20px; /* Adjust padding as needed */
    min-height: 100vh; /* Adjust height as needed */
}

.section-title { /*Headers text to every section*/
    font-size: 45px; /* Increase the font size as needed */
    font-weight: bold; /* Make the text bold */
    margin-top: 40px; /* Existing top margin */
    color: #FF4500;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    padding-left: 95px; /* Align content with the logo */
    text-align: top;
}

/* Add or modify styles for subheader if needed */
.about-subheader {
    font-size: 24px; 
    margin-top: 10px; 
    font-family: 'Open Sans', sans-serif;
}

.section-content {
    font-size: 20px;
    max-width: auto;
    margin: auto;
    text-align: left;
}

/* About Section Styling for Desktop */
@media (min-width: 1024px) {
    #about {
        display: flex;
        justify-content: center; /* Horizontal centering */
        align-items: center; /* Vertical centering */
        min-height: 100vh; /* Full height to enable vertical centering */
        text-align: center; /* Center align the text */
    }

    .about-grid {
        width: auto; /* Auto width based on content */
        margin: 0 auto; /* Center grid in the available space */
        /* Remove any fixed grid-template-columns if any, or adjust as needed */
    }

    /* Adjust the .about-grid item widths and any other properties as necessary */
}